:root {
    --color-red: #e53935;
    --color-green: #43a047;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #333333;
    --color-dark-gray: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
    background-color: var(--color-black);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}