:root {
    --color-red: #e53935;
    --color-green: #43a047;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #333333;
    --color-dark-gray: #222222;
    --color-dark-muted-blue: #1e293b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: var(--color-white);
    background-color: var(--color-black); */
}
body {
    min-height: 100vh;
    background-color: var(--color-black);
    background-image: radial-gradient(#e53935 1px, transparent 1px),
                      radial-gradient(#43a047 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    animation: dotsMove 15s linear infinite;
}

@keyframes dotsMove {
    0% { background-position: 0 0, 25px 25px; }
    100% { background-position: 50px 50px, 75px 75px; }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-content{
    margin: 80px 0;
}

.color-red{
    color: var(--color-red) !important;
}