.service-section {
    padding: 80px 20px;
    /* background-color: #0f172a; */
    text-align: center;
}

.service-section .section-title h2 {
    font-size: 36px;
    color: var(--color-red);
    margin-bottom: 10px;
}

.service-section .section-title p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #cbd5e1;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.service-card {
    border: 2px solid var(--color-green);
    padding: 30px 20px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card img {
    width: 60px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 20px;
    margin: 0;
}

.service-card:hover {
    transform: translateY(-8px);
    border: 2px solid #1e293b;
    box-shadow: 0 10px 25px #ffffff1a;
}